@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* Your custom classes can go here */
@theme {
  --animate-show-in: fade-in 0.75s ease-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
      right: -200px;
    }
    100% {
      opacity: 1;
      right: 50px;
    }
  }
}

@theme {
  --animate-fade-out: fade-out 0.75s ease-out;
  @keyframes fade-out {
    0% {
      opacity: 1;
      right: 10px;
    }
    100% {
      opacity: 0;
      right: -200px;
    }
  }
}

body {
  background-color: rgb(241, 245, 241);
  font-family: "Roboto", sans-serif;
}
